<h1 class="title" mat-dialog-title>{{ data.name }}</h1>
<div mat-dialog-content>
  <h2>Estadisticas:</h2>
  <ul class="fondo-blan text-centro">
    <li class="float-none">
      <p class="text-izq"><b>Ataque Maximo: </b>{{ data.atkMax }}</p>
    </li>
    <li class="float-none">
        <p class="text-izq"><b>Vida Maxima: </b>{{ data.hpMax }}</p>
    </li>
  </ul>
  <h2>Cartas:</h2>
  <ul class="fondo-blan">
    <li *ngFor="let carta of data.cards" class="{{ carta }} width-100 text-centro">
      <span></span> {{ carta }}
    </li>
  </ul>
  <h2>Skills:</h2>
  <ul class="fondo-blan">
    <li *ngFor="let skill of data.skills">
      <img src="{{ skill.icon }}" width="30px" height="30px" alt="...">
      <p><b>Slot numero {{ skill.num }}</b></p>
      <p><b>Nombre:</b> {{ skill.name }}</p>
      <p><b>Descripcion:</b> {{ skill.detail }}</p>
      <p><b>Cooldown: </b>{{ skill.coolDown[0] }} - {{ skill.coolDown[9] }}</p>
    </li>
  </ul>
  <h2>Noble Phantasm:</h2>
  <ul class="fondo-blan">
    <li *ngFor="let np of data.np">      
      <p class="text-centro width-100 {{ np.card }}"><b>{{ np.name }}</b></p>
      <p><b>Tipo:</b> {{ np.type }}</p>
      <p><b>Rango:</b> {{ np.rank }}</p>
      <p><b>Descripcion:</b> {{ np.detail }}</p>
    </li><hr>
  </ul>
</div>
