<div *ngIf="mostrar">
  <div class="carta co">
    <!-- <div class="column"> -->
      <div class="row">
        <div class="col-sm-4">
          <img [src]="command.img" class="img-fluid" width="90%" height="auto" alt="">
        </div>
        <div class="col-sm-8">
          <p><b>ID:</b> {{ command.id }}</p>
          <p><b>Nombre:</b> {{ command.name }}</p>
          <p><b>Rareza:</b> {{ command.rarity }}*</p>
          <!-- <p><b>Detalle:</b> {{ command.detail }}</p> -->
          <!-- <input type="button" (click)="verDetalle()" class="btn-det" value="Detalle"> -->
          <button class="btn-det" (click)="verDetalle()"><i class="fa fa-list"></i></button>
        <button class="btn-det" (click)="addFavorito()"><i class="fa fa-heart" style="color: red"></i></button>
        </div>

      </div>
</div>
</div>

