<div class="ser carta"> <!-- [@changeDivAnim]=currentState -->
  <!-- <div class="column"> -->
    <div class="row">
      <div class="col-sm-4">
        <img [src]="personaje.img" class="img-fluid" width="100%" height="auto" alt="">
      </div>
      <div class="col-sm-8">
        <p><b>ID:</b> {{ personaje.id }}</p>
        <p><b>Nombre:</b> {{ personaje.name }}</p>
        <p><b>Rareza:</b> {{ personaje.rarity }}*</p>
        <p><b>Clase:</b> {{ personaje.class | uppercase }}</p>
        <!-- <p><b>Ataque a nivel maximo:</b> {{ personaje.atk }}</p>
        <p><b>Vida a nivel maximo:</b> {{ personaje.hp }}</p> -->
        <!-- <div class="row">
          <div *ngFor="let item of personaje.cards">
            <div class="card {{ item }} col-sm-2">{{ item | uppercase }}</div>
          </div>
        </div> -->
        <input type="button" class="btn-det" (click)="verDetalle()" value="Detalle">
      </div>
    </div>
    
    
  <!-- </div> -->
  <!-- <div class="column">
    <img src="https://pbs.twimg.com/profile_images/798356695860723712/-NpEsPw9_400x400.jpg"
      alt="" width="200px" height="200px"/>
  </div> -->
</div>
<!-- <div class="container column">
    <img src="https://pbs.twimg.com/profile_images/798356695860723712/-NpEsPw9_400x400.jpg"
      alt="" width="200px" height="200px"/>
</div> -->
<!-- <hr /> -->
