<div class="container">
  <!-- <div class="column"> -->
    <p><b>ID:</b> {{ personaje.id }}</p>
    <p><b>Nombre:</b> {{ personaje.name }}</p>
    <p><b>Rareza:</b> {{ personaje.rarity }}</p>
    <p><b>Clase:</b> {{ personaje.class }}</p>
    <p><b>Ataque a nivel 90:</b> {{ personaje.atk }}</p>
    <p><b>Vida a nivel 90:</b> {{ personaje.hp }}</p>
  <!-- </div> -->
  <!-- <div class="column">
    <img src="https://pbs.twimg.com/profile_images/798356695860723712/-NpEsPw9_400x400.jpg"
      alt="" width="200px" height="200px"/>
  </div> -->
</div>
<!-- <div class="container column">
    <img src="https://pbs.twimg.com/profile_images/798356695860723712/-NpEsPw9_400x400.jpg"
      alt="" width="200px" height="200px"/>
</div> -->
<!-- <hr /> -->
