/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("https://i.stack.imgur.com/7YKUD.jpg");
}
.container {
  background-color: rgba(128, 128, 128, 0.8);
  margin: auto;
  text-align: center;
  border-radius: 12px;
  position: relative;
  width: auto;
}
.ser {
  background-color: rgba(98, 122, 110, 0.8);
  margin: auto;
  text-align: center;
  border-radius: 12px;
  position: relative;
  width: 100%;
}
.ce {
  background-color: rgba(96, 114, 155, 0.8);
  margin: auto;
  text-align: center;
  border-radius: 12px;
  position: relative;
  width: 100%;
}
.co {
  background-color: rgba(109, 84, 84, 0.8);
  margin: auto;
  text-align: center;
  border-radius: 12px;
  position: relative;
  width: 100%;
}
.fondo-blan {
  background-color: white;
  overflow: hidden;
}
.vertical-line {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: auto;
  height: 10px;
}
.text-centro {
  text-align: center;
}
.text-izq {
  text-align: left;
  float: none;
}
.float-none {
  float: none;
}
.width-100 {
  width: 100%;
}
.en-linea {
  float: left;
}
.item {
  background-color: rgba(98, 122, 110, 0.8);
  border-radius: 5px;
  display: inline-block;
  border: black solid 1px;
  cursor: pointer;
}
.btn-largo {
  display: block;
  width: 100%;
  padding: 14px 28px;
  text-align: center;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
.img-abajo {
  margin-bottom: 20px;
}
.titulo {
  background-color: rgba(128, 128, 128, 0.8);
  text-align: center;
  border-radius: 12px;
}
.buscador {
  text-align: center;
  display: block;
}
.in-bus {
  padding: 10px;
  font-size: 17px;
  background: transparent;
  border: none;
  float: left;
  width: 40%;
  outline: none;
}
.transicion {
  transition: opacity 2s linear;
}
.but-bus {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 1px;
  float: right;
}
.but-bus:hover {
  background: #0b7dda;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.card {
  background-color: darkgrey;
  border-radius: 12px;
  text-align: center;
}
.arts {
  background-color: lightblue;
  width: 20%;
  text-align: center;
  cursor: pointer;
}
.quick {
  background-color: lightgreen;
  width: 20%;
  text-align: center;
  cursor: pointer;
}
.buster {
  background-color: rgb(214, 65, 65);
  width: 20%;
  text-align: center;
  cursor: pointer;
}
.np-arts {
  background-color: lightblue;
  text-align: center;
  cursor: pointer;
}
.np-quick {
  background-color: lightgreen;
  text-align: center;
  cursor: pointer;
}
.np-buster {
  background-color: rgb(214, 65, 65);
  text-align: center;
  cursor: pointer;
}
.title {
  display: block;
  text-align: center;
  background-color: white;
  font-weight: bolder;
}
h1 {
  display: block;
  text-align: center;
  background-color: lightblue;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.navbar {
  background-image: url();
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #333;

  top: 0;
}
.nav-atras {
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  text-decoration: none;
  color: white;
}

.active {
  background-color: #4caf50;
}
.carta {
  font-size: 10px;
  text-align: left;
  margin-top: 10px;
}
.np-card {
  width: 256px;
  height: 256px;
}
.btn-det {
  border-radius: 12px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-paginator {
  background-color: rgba(128, 128, 128, 0.9);
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  display: inline-block;
  overflow: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 12px;
  color: white;
}

.fav {
  color: red;
}

.no-fav {
  color: black;
}

.row .asc{
  width: 25%;
  border-radius: 12px;
  cursor: pointer;
}
.activo {
  background-color: #2196f3;
}
.no-activo {
  background-color: white;
}
